<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="card">
      <video id="myVideo" width="400" controls autoplay>
        Your browser does not support HTML5 video.
      </video>
    </div>
    <div class="row">

        <button class="button button-positive" ng-click="getStream()" ng-disabled="isConnected">Connect</button>
        <button class="button button-balanced" ng-click="disconectStream()" ng-disabled="!isConnected">Disconnect</button>

    </div>
  </ion-content>
</ion-view>